.tree-group {
  margin-left: 20px;
  .ul-item {
    cursor: pointer;
    user-select: none;
    background-color: rgb(145, 222, 252);
    padding: 5px;
    margin-bottom: 5px;
  };
  .no-children {
    padding-left: 10px
  };
}
