<div (click)="onClick(); $event.stopPropagation()" class="tree-group">
  <!-- ITEM WITH CHILDREN -->
  <div class="ul-item" *ngIf="inputComponents.length">
    <i class="bi bi-chevron-right" *ngIf="isHidden"></i>
    <i class="bi bi-chevron-down" *ngIf="!isHidden"></i>
    {{ data?.name }}
  </div>

  <!-- ITEM WITH NO CHILDREN -->
  <div class="ul-item no-children" *ngIf="!inputComponents.length">
    {{ data?.name }}
  </div>

  <!-- CHILDREN -->
  <span [hidden]="isHidden">
    <ng-container #placeholder></ng-container>
  </span>
</div>
